<aside class="flex flex-col h-full bg-white">
  <header class="flex border-b border-gray-200 shrink-0">
    <span class="font-semibold p-4">Wiadomości</span>
  </header>

  <nav class="flex-1 overflow-y-auto custom-scrollbar relative">

    @if (loading) {

      @for (i of [1, 2, 3, 4]; track i) {
        <div class="px-4 py-4 border-b border-gray-100 flex items-center gap-3 animate-pulse bg-white">

          <div class="w-[52px] h-[52px] bg-gray-200 rounded-sm shrink-0"></div>

          <div class="flex-1 min-w-0">
            <div class="flex justify-between items-baseline mb-2">
              <div class="h-4 bg-gray-200 rounded w-1/3"></div>
              <div class="h-3 bg-gray-200 rounded w-8"></div>
            </div>

            <div class="flex items-center gap-2">
              <div class="w-6 h-6 bg-gray-200 rounded-sm shrink-0"></div>
              <div class="h-3 bg-gray-200 rounded w-3/4"></div>
            </div>
          </div>

        </div>
      }

    } @else {

      @for (chat of conversations; track chat.id) {
        <div
          (click)="openChat(chat)"
          routerLinkActive="bg-gray-50 border-r-4 border-r-my"
          [ngClass]="chat.unreadCount > 0 ? 'bg-gray-100 hover:bg-gray-100' : 'bg-white hover:bg-gray-50'"
          class="cursor-pointer hover:bg-gray-50 px-4 py-4 border-b border-gray-100 transition-all"
        >
          <div class="flex items-center gap-3">

            <div class="shrink-0">
              <app-user-avatar
                [name]="chat?.interlocutorName"
                [imageUrl]="chat?.interlocutorImage"
                sizeClass="w-13 h-13"
                borderRadius="rounded-sm"
                class="pointer-events-none shrink-0"
              >
              </app-user-avatar>
            </div>

            <div class="flex-1 min-w-0">
              <div class="flex justify-between items-baseline mb-1">
                <h3 class="font-bold text-sm text-gray-900 truncate">
                  {{ chat.interlocutorName }}
                </h3>
                <time class="text-[10px] text-gray-400">
                  {{ chat.lastMessageDate | date:'HH:mm' }}
                </time>
              </div>

              <div class="flex items-center gap-2">
                <div class="shrink-0">
                  <img
                    [src]="chat.productImage.url || 'assets/default-product.png'"
                    class="w-6 h-6 object-cover rounded-sm border border-gray-50"
                  />
                </div>

                <p class="text-xs truncate flex-1"
                   [class.font-semibold]="chat.unreadCount > 0"
                   [class.text-gray-900]="chat.unreadCount > 0"
                   [class.text-gray-500]="chat.unreadCount === 0">
                  {{ chat.lastMessage || 'Brak treści wiadomości' }}
                </p>
              </div>
            </div>
            @if (chat.unreadCount > 0) {
              <span class="inline-flex items-center justify-center min-w-[20px] h-[20px] px-1 text-[12px] font-bold text-white bg-my rounded-full">
                    {{ chat.unreadCount }}
                  </span>
            }
          </div>
        </div>
      } @empty {
        <div class="flex items-center justify-center h-full p-4">
          <app-empty-state
            title="Brak wiadomości"
            description="Nie masz jeszcze żadnych rozpoczętych konwersacji. Zapytaj o interesujący Cię przedmiot!"
            icon="message-circle"
          >
            <a action routerLink="/" class="px-6 py-2 bg-[#002f34] text-white rounded-md inline-block">
              Przeglądaj ogłoszenia
            </a>
          </app-empty-state>
        </div>
      }

    }
  </nav>
</aside>
