<div class="max-w-3xl animate-in fade-in duration-500 space-y-10">

  <form [formGroup]="infoForm" (ngSubmit)="onInfoSubmit()">
    <app-form-section title="Dane kontaktowe" subtitle="Służą do logowania i kontaktu.">
      <div class="space-y-6">

        <app-input-field
          label="Adres e-mail"
          placeholder="twoj@email.com"
          [control]="getControl(infoForm, 'email')">
        </app-input-field>

        <app-phone-field
          label="Telefon"
          [phoneControl]="getControl(infoForm,'phoneNumber')"
          [codeControl]="getControl(infoForm,'countryCode')">
        </app-phone-field>

<!--        <div class="flex justify-end pt-2">-->
<!--          <app-button-->
<!--            type="submit"-->
<!--            [disabled]="infoForm.invalid || infoForm.pristine || loading()"-->
<!--            [isLoading]="loading()">-->
<!--            Zapisz dane-->
<!--          </app-button>-->
<!--        </div>-->

      </div>
    </app-form-section>
  </form>

  <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
    <app-form-section title="Zmiana hasła" subtitle="Zadbaj o silne hasło dla bezpieczeństwa.">
      <div class="space-y-6">

        <app-input-field
          label="Obecne hasło"
          type="password"
          [control]="getControl(passwordForm, 'currentPassword')">
        </app-input-field>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <app-input-field
            label="Nowe hasło"
            type="password"
            [control]="getControl(passwordForm, 'newPassword')">
          </app-input-field>

          <app-input-field
            label="Powtórz nowe hasło"
            type="password"
            [control]="getControl(passwordForm, 'confirmPassword')">
          </app-input-field>
        </div>

        @if (passwordForm.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched) {
          <p class="text-red-500 text-xs pl-1">Hasła nie są identyczne.</p>
        }

        <div class="flex justify-end pt-2">
          <app-button
            type="submit"
            [disabled]="passwordForm.invalid || loading()"
            [isLoading]="loading()">
            Zmień hasło
          </app-button>
        </div>

      </div>
    </app-form-section>
  </form>

  <div class="pt-6 border-t border-gray-200">
    <h3 class="text-red-600 font-medium mb-2">Usuwanie konta</h3>
    <div class="flex flex-col md:flex-row md:items-center justify-between gap-4 bg-red-50 p-4 rounded-md border border-red-100">
      <div class="text-sm text-red-800">
        <p class="font-bold">Chcesz usunąć swoje konto?</p>
        <p class="mt-1 opacity-80">Ta operacja jest nieodwracalna.</p>
      </div>

      <button
        (click)="onDeleteAccount()"
        type="button"
        class="text-red-600 text-sm font-bold border border-red-200 bg-white px-4 py-2 rounded hover:bg-red-50 transition-colors whitespace-nowrap"
      >
        Usuń trwale
      </button>
    </div>
  </div>

</div>
