<div class="max-w-6xl mx-auto px-4 py-6 md:py-10">

  <h1
    [class.hidden]="isMobileView() && isChildRouteActive()"
    class="text-2xl md:text-3xl font-bold text-[#002f34] mb-8"
  >
    Ustawienia
  </h1>

  <div class="flex flex-col md:flex-row gap-8 lg:gap-20">

    <aside
      class="w-full md:w-64 shrink-0"
      [class.hidden]="isMobileView() && isChildRouteActive()"
    >
      <nav class="flex flex-col space-y-2">

        @for (item of menuItems; track item.path) {
          <a
            [routerLink]="item.path"
            routerLinkActive="bg-gray-100 font-bold text-[#002f34]"
            [routerLinkActiveOptions]="{exact: true}"
            class="group flex items-center justify-between pr-4 py-3 md:px-3 md:py-2.5 rounded-md text-[16px] text-gray-900 hover:bg-gray-100 transition-colors border-b border-gray-100 md:border-none"
          >
            <div class="flex items-center gap-3">
              <lucide-icon
                [name]="item.icon"
                class="w-5 h-5 text-gray-900 transition-colors group-[.font-bold]:text-[#002f34]"
              ></lucide-icon>

              <span>{{ item.label }}</span>
            </div>

            <lucide-icon
              name="chevron-right"
              class="w-5 h-5 text-gray-400 md:hidden"
            ></lucide-icon>
          </a>
        }

        <div class="pt-6 mt-4 md:pt-8 md:border-t md:border-gray-200">
          <button
            (click)="logout()"
            class="w-full text-left pr-4 py-3 md:px-3 md:py-2.5 text-[16px] text-gray-900 hover:bg-gray-100 rounded-md transition-colors border-b border-gray-100 md:border-none flex justify-between items-center group cursor-pointer"
          >
            <div class="flex items-center gap-3">
              <lucide-icon
                name="log-out"
                class="w-5 h-5 text-gray-900"
              ></lucide-icon>
              <span>Wyloguj</span>
            </div>

            <lucide-icon name="chevron-right" class="w-5 h-5 text-gray-400 md:hidden"></lucide-icon>
          </button>
        </div>

      </nav>
    </aside>

    <main
      class="flex-1 min-w-0"
      [class.hidden]="isMobileView() && !isChildRouteActive()"
    >
      <button
        (click)="goBack()"
        class="md:hidden flex items-center gap-2 text-[#002f34] mb-6 font-semibold cursor-pointer"
      >
        <lucide-icon name="arrow-left" class="w-5 h-5"></lucide-icon>
        Wróć
      </button>

      <div class="rounded-sm md:p-0 min-h-[500px]">
        <router-outlet></router-outlet>
      </div>
    </main>

  </div>
</div>
