@if (!facade.isAppReady()) {
  <app-global-loader/>
}
@else {
  <app-toast />

    @if (!facade.hideGlobalUI()) {
      <app-header/>
    }

  <div
    class="flex flex-col bg-gray-50 transition-all duration-200"
    [style.paddingTop.px]="facade.hideGlobalUI() ? 0 : (headerHeightDelayed$ | async)"
  >
    <main class="">
      <router-outlet />
    </main>
  </div>

  @if (!facade.hideGlobalUI()) {
    <app-footer />

    @if (userService.isAuthenticated()) {
      <app-mobile-nav class="md:hidden" />
    }
  }

  <app-auth />
}
