@if (!facade.isAppReady()) {
  <app-global-loader/>
}
@else {
  <app-toast />

  <div class="min-h-screen flex flex-col">

    @if (!facade.hideGlobalUI()) {
      <app-header/>
    }

    <div
      class="flex-grow flex flex-col bg-gray-50 transition-all duration-200"
      [style.paddingTop.px]="facade.hideGlobalUI() ? 0 : (headerHeightDelayed$ | async)"
    >
      <main class="flex-grow flex flex-col">
        <router-outlet />
      </main>
    </div>

    @if (!facade.hideGlobalUI()) {
      <app-footer />

      @if (userService.isAuthenticated()) {
        <app-mobile-nav class="md:hidden" />
      }
    }

  </div>

  <app-auth />

  @if (consentService.isBannerVisible()) {
    <app-cookie-banner />
  }
}
