/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
  --deep-blue: #002f3f;
}

@layer components {
  .bg-my {
    background-color: var(--deep-blue);
  }

  .text-color-my {
    color: var(--deep-blue);
  }

  .border-my {
    border-color: var(--deep-blue);
  }

  .btn-circle {
    @apply absolute text-white text-3xl bg-black/40 hover:bg-black/70
    rounded-full px-3 py-1 cursor-pointer aspect-[1];
  }
}

html,
body {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  color: #111;
  @apply bg-gray-100;
}
